*::selection {
    background: hsla(167, 96%, 29%, 0.493);
}
html {
    background-color: hsla(167, 100%, 50%, 0.281);
}
body {
    overflow: hidden;
    margin: 0;
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Zen Kurenaido", sans-serif;
}
.title {
    display: inline;
    width: max-content;
    text-shadow:0 0 black;
    color: wheat;
}
header {
    opacity: 1;
    display: flex;
    font-size: calc(4vh - 0.5vw);
    box-sizing: border-box;
    padding: 0 3vw;
    width: 30vw;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@media only screen and (max-width:700px) {
    header {
        flex-direction: column;
    }
    .choice-item {
        font-size: 0.75em !important;
        margin-bottom: 5%;
    }
    .choices {
        flex-direction: column;
        align-items: center;
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.start {
    text-shadow: 0.5px 0.5px 2px rebeccapurple;
    color: aquamarine;
    display:flex;
    align-items: center;
    justify-content: center;
    font-variant: small-caps;
    font-style: italic;
    pointer-events: all;
    opacity: 1;
    border-radius: 100%;
    background: hsla(0 79% 72% / 0.5);
    width: 3.75em;
    height: 3.75em;
    transition:display 0.9s ease-in ;
}
.start:hover {
    cursor: pointer;
}
/* choices */
.choices {
    justify-content: space-between;
    display: none;
    width: 50vw;
    opacity: 0;
}
.choice-item {
    box-sizing: border-box;
    border: 0.25em inset hsla(167, 100%, 45%, 0.596);
    font-size: 1.25em;
    font-weight: bolder;
    /* flex */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-end */
    border-radius: 30%;
    background-color: hsla(167, 100%, 50%, 0.596);
    width: 15vw;
    opacity: 1;
    aspect-ratio: 5/2;
}
.choice-item:hover {
    cursor: pointer;
}
.choice-item>a {
    color: hsl(138, 53%, 42%);
    text-decoration: none;
}